*.pyc
/eukaryotes/*.pyc

/prokaryotes/*pyc
/prokaryotes/bacteria/preprocessing/rRNA_fasta/*
/prokaryotes/bacteria/preprocessing/scanning/*
/prokaryotes/bacteria/preprocessing/scanning_taxonomies/*
/prokaryotes/bacteria/data/annotation_data/*
/prokaryotes/bacteria/data/hsp40_fasta/*
/prokaryotes/bacteria/data/hsp70_fasta/*
/prokaryotes/bacteria/data/rRNA_fasta/*

/archaea/*pyc
/prokaryotes/archaea/preprocessing/rRNA_fasta/*
/prokaryotes/archaea/preprocessing/scanning/*
/prokaryotes/archaea/data/annotation_data/*
/prokaryotes/archaea/data/hsp40_fasta/*
/prokaryotes/archaea/data/hsp70_fasta/*
/prokaryotes/archaea/data/rRNA_fasta/*

/main_analysis/*.pyc
