*.pyc
/eukaryotes/*.pyc
/prokaryotes/*.pyc
/main_analysis/*.pyc
/main_analysis/draft

/eukaryotes/tsv
/eukaryotes/data

/prokaryotes/tsv
/prokaryotes/data

/main_analysis/31*

main_figures
other_files
files_for_hypatia
